@model Final_Project.Models.ViewModels.PersonalTrackerVM

@{
    ViewData["Title"] = "Add Comments";
}

@if (!User.IsInRole("Admin") && !User.IsInRole("Trainer"))
{
    Context.Response.Redirect("/");
}

<h1>Add Comments</h1>

<h4>PersonalTracker</h4>
<table class="table table-striped table-hover">
    <tr>
        <td>
            @Html.DisplayNameFor(model => model.Title)
        </td>

        <td>
            @Html.DisplayFor(modelItem => modelItem.Title)
        </td>
    </tr>
    <tr>
        <td>
            @Html.DisplayNameFor(model => model.StopSelfFeedback)
        </td>

        <td>
            @Html.DisplayFor(modelItem => modelItem.StopSelfFeedback)
        </td>
    </tr>
    <tr>
        <td>
            @Html.DisplayNameFor(model => model.StartSelfFeedback)
        </td>

        <td>
            @Html.DisplayFor(modelItem => modelItem.StartSelfFeedback)
        </td>
    </tr>
    <tr>
        <td>
            @Html.DisplayNameFor(model => model.ContinueSelfFeedback)
        </td>

        <td>
            @Html.DisplayFor(modelItem => modelItem.ContinueSelfFeedback)
        </td>
    </tr>
    <tr>
        <td>
            @Html.DisplayNameFor(model => model.CommentsSelfFeedback)
        </td>

        <td>
            @Html.DisplayFor(modelItem => modelItem.CommentsSelfFeedback)
        </td>
    </tr>
</table>
<hr />
    <div class="row">
        <div class="col-md-4">
            <form asp-action="EditTrainer">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <input type="hidden" asp-for="Id" />
                <div class="form-group">
                    <label asp-for="TrainerComments" class="control-label"></label>
                    <input asp-for="TrainerComments" class="form-control" />
                    <span asp-validation-for="TrainerComments" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <input type="submit" value="Save" class="btn btn-primary" />
                </div>
            </form>
        </div>
    </div>

<div>
    <a asp-action="IndexTrainer">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
