
@model Final_Project.Models.ViewModels.TitleViewModel

@{
    ViewData["Title"] = "Trainee Treackers";
}

@if (!User.IsInRole("Admin") || !User.IsInRole("Trainer"))
{
    Context.Response.Redirect("/");
}

<h1>Trainee Trackers</h1>
<form asp-controller="PersonalTracker" asp-action="IndexTrainer">
    <p>
        <select asp-for="TitleSearch" asp-items="Model.Titles">
            <option value="">All</option>
        </select>
        Name: <input type="text" asp-for="Search" />
        <input type="submit" value="Filter" />
    </p>
</form>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Trackers[0].Spartan)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Trackers[0].Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Trackers[0].TrainerComments)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Trackers) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Spartan!.UserName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TrainerComments)
            </td>
            <td>
                <a asp-action="EditTrainer" asp-route-id="@item.Id">Add Comments</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> 
            </td>
        </tr>
}
    </tbody>
</table>
