@model IEnumerable<Final_Project.Models.PersonalTracker>

@{
    ViewData["Title"] = "Index";
}

<h1>Personal Tracker</h1>
<hr />
    <a asp-action="Create" role="button" class="btn btn-dark mb-3">Create New</a>
<table class="table table-bordered border-dark" style="width: max-content">
    <thead>
        <tr class="table-warning border-dark">
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th></th>
            @if (User.IsInRole("Admin")){
            <th>
                @Html.DisplayNameFor(model => model.Spartan)
            </th>
            }
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            @if (User.IsInRole("Admin")){
            <td>
                @Html.DisplayFor(modelItem => item.Spartan.Id)
            </td>
            }
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id" role="button" class="btn btn-warning">Edit</a> 
                <a asp-action="Details" asp-route-id="@item.Id" role="button" class="btn btn-warning">Details</a> 
                <a asp-action="Delete" asp-route-id="@item.Id" role="button" class="btn btn-danger">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>


