@model Final_Project.Models.PersonalTracker

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Personal_Tracker</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Title)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Title)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Stop_SelfFeedback)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Stop_SelfFeedback)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Start_SelfFeedback)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Start_SelfFeedback)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Continue_SelfFeedback)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Continue_SelfFeedback)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Comments_SelfFeedback)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Comments_SelfFeedback)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Spartan)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Spartan.Id)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
