@model IEnumerable<Final_Project.Models.TraineeProfile>

@{
    ViewData["Title"] = "Trainee Profiles";
}

<h1>Trainee Profiles</h1>


<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AboutMe)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.WorkExperience)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Complete)
            </th>

            <th>
                @Html.DisplayNameFor(model => model.Spartan)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Spartan.UserName)
            </td>
            <td>
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> 
            </td>
        </tr>
}
    </tbody>
</table>
